{% extends "base.html" %}
{% block start %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12">
          <div class="card shadow rounded-0">
              <div class="card-header">
                  <div class="h5 card-title fw-bold">Student Information</div>
              </div>
             
              <div class="card-body">
                  <div class="container-fluid">
                      

    
    <form class="form-inline">
      <div class="row">
                                    
        <div class="col-md-6">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-2">
            <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Search</button>
        </div>
    </form>
        <div class="col-md-2 text-end">
            <a href="{% url 'student_create' %}" class="btn btn btn-primary btn-sm bg-gradient rounded-0">Create</a>
        </div>
    </div>
      
      </form>
    
    <hr>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Sl/No</th>
            <th scope="col">Student ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Date of Register</th>
            <th scope="col">Status</th>
            <th scope="col" >Action</th>
          </tr>
        </thead>
        
        <tbody class='.table-hover'>
            {% for student in students %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ student.code }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.date_created }}</td>
            <td>{{ student.status }}</td>
          

            <td><a href="{% url 'student_view' student.id %}" class="btn btn btn-primary btn-sm bg-gradient rounded-0">view</a>
              <a href="{% url 'student_update' student.id %}" class="btn btn btn-success btn-sm bg-gradient rounded-0">Update</a>
                <a href="{% url 'student_delete' student.id %}" class="btn btn btn-danger btn-sm bg-gradient rounded-0">Delete</a>
            
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="d-flex justify-content-end">
      <div class="pagination">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item {% if not students.has_previous %}disabled{% endif %}">
              <a class="page-link" href="{% if students.has_previous %}?page={{ students.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
            </li>
            {% for page_num in students.paginator.page_range %}
              <li class="page-item {% if page_num == students.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}{% if page_num == students.number %} <span class="sr-only"></span>{% endif %}</a>
              </li>
            {% endfor %}
            <li class="page-item {% if not students.has_next %}disabled{% endif %}">
              <a class="page-link" href="{% if students.has_next %}?page={{ students.next_page_number }}{% endif %}">Next</a>
            </li>
          </ul>
        </nav>
        
        
    </div>
  </div>
         
</body>
</html>
{% endblock start %}
